<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>كود خصم 20% !</title>
    <style>
        body {
            font-family: 'sego ui light';
            background-color:rgb(255, 248, 240);
            padding: 20px;
            display: flex; 
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
        }
        .container {
            text-align: center;
            width: 100%;
            max-width: 600px;
            border: 1px solid rgb(53, 53, 53);
            padding: 20px;
            background-color: rgb(255, 248, 240);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: rgb(53, 53, 53);
        
        }
        p {
             color:  rgb(0, 0, 0, 0.1);
        }

    </style>
</head>

<body>
    <div class="container">
        <h1 >كود خصم 20% !</h1>
        <p><strong>الكود:</strong> <%= coupon %></p>
    </div>
</body>

</html>